[submodule ".emacs.d/vendor/rails"]
	path = .emacs.d/vendor/rails
	url = https://github.com/remvee/emacs-rails.git
[submodule ".emacs.d/vendor/feature-mode"]
	path = .emacs.d/vendor/feature-mode
	url = https://github.com/michaelklishin/cucumber.el.git
[submodule ".emacs.d/vendor/html5-el"]
	path = .emacs.d/vendor/html5-el
	url = https://github.com/hober/html5-el.git
[submodule ".emacs.d/vendor/restclient"]
  path = .emacs.d/vendor/restclient
  url = https://github.com/pashky/restclient.el.git
