[submodule ".emacs.d/vendor/rails"]
	path = .emacs.d/vendor/rails
	url = git://github.com/remvee/emacs-rails.git
[submodule ".emacs.d/vendor/egg"]
	path = .emacs.d/vendor/egg
	url = git://github.com/bogolisk/egg.git
