[submodule ".emacs.d/vendor/rails"]
	path = .emacs.d/vendor/rails
	url = git://github.com/remvee/emacs-rails.git
[submodule ".emacs.d/vendor/egg"]
	path = .emacs.d/vendor/egg
	url = git://github.com/bogolisk/egg.git
[submodule ".emacs.d/vendor/cucumber-mode"]
	path = .emacs.d/vendor/cucumber-mode
	url = git://github.com/michaelklishin/cucumber.el.git
[submodule ".emacs.d/vendor/html5-el"]
	path = .emacs.d/vendor/html5-el
	url = git://github.com/hober/html5-el.git
